body {
    background-color: #cfeff6;
    color: #000000;
    font-family: Arial;
}

h1 {
    color: #999999;
    font-family: Tahoma;
}

#centerbox {
    width: 800px;
    margin: 20px auto 20px auto;
    border: 1 px solid #ff0000;
}

#gameContainer {
    background-color: #678933; // doesn't need a background-color
    height: 200px;
    width: 200px;
    margin: 0;
}