body {
    background-color: #cfeff6;
    color: #000000;
    font-family: Arial;
}

h1 {
    color: #f680bc;
    font-family: Tahoma;
    text-align: center;
}

#centerbox {
    width: 800px;
    margin: 40px auto 40px auto;
}

#gameHeader {
    background: url(assets/images/my-litle-pony2.jpg) center top; // doesn't need a background-color
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    padding-top: 275px;
    padding-bottom: 5px;
}

#gameContainer {
    background-color: #000000; // doesn't need a background-color
    height: 500px;
    width: 800px;
    margin: 0;
}